#modalAuthors, #modalGenre {
    width: max-content; height: 400px;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
    overflow: scroll;
}

#modalAuthors #modalAuthors__close, #modalGenre #modalGenre__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;

}

#overlayAuthors, #overlayGenre {
    z-index: 37;
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
}

input[type="checkbox" i]{
    display: inline;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
.checkbox{
    display: -webkit-box;
}
#divGenreChose{
    position: absolute;
    left: 80%;
    top: 72%;
}
span.error {
    color: red;
    position: absolute;
    top: 25px;
    inline-size: max-content;
    left: 300px;
}
span#genre.errors.error{
    position: absolute;
    left: 120px;
    top: 42px;
    inline-size: max-content;
}