div#container
{
    width: 1250px;
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0 auto 0 auto;
    text-align: left;
}
div#sort
{
    width: 1100px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}
#Line2
{
    border-color: #A0A0A0;
    border-style: solid;
    border-bottom-width: 12px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 0 !important;
    line-height: 0px !important;
    margin: 0;
    padding: 0;
}
#wb_Text2
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#wb_Text2 div
{
    text-align: left;
}

figure
{
    float: left;
    border: 1px solid #000000;
    margin-right: 20px;
    margin-bottom: 7px;
    margin-left: 5px;
}
figcaption
{
    text-align: center;
}
.book_image{
    position: relative;
    width:270px;
    height:330px;
}
.button_book{
    position: absolute;
    width: 270px;
    height: 330px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    padding: 20px;
    display: none;
}

.info_book{
    position: absolute;
    width: 270px;
    height: 165px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 165px;
}

.button_info{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.add_to_basket{
    position: absolute;
    width: 270px;
    height: 165px;
    top: 165px;
    left: 0;
    right: 0;
    bottom: 0;
}

.button_add{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}


.book_image:hover .button_book{
    display: block;
}
